html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact Page 
        link(rel="stylesheet", href="/css/styles.css")
    body 
        h1 Contact page 
        img(src="https://www.clipartmax.com/png/middle/210-2108408_dragon-slayer-goku-dragon-ball-super.png", alt="")
        script(src= "js/main.js")
        #main.test.other
            .active 
            div Billy