extends layouts/app

block seo   
    <title>Homepage</title>

block content 
    h1 Testing Pug Template Engine 
    if loggedIn 
        .card 
            h2= username
            h3 My name is #{fname} #{lname}
            each friend in friends
                li=friend